<div class="w-full h-screen bg-gray-300 flex justify-center items-center">
    <div class="sm:w-full md:w-1/2 grid gap-2 grid-cols-2 grid-rows-4 sm:gap-4 md:grid-cols-4 sm:grid-rows-2 sm:justify-items-center text-center text-sm sm:text-md">
        <a href="#" class="border border-purple-700 uppercase text-white bg-purple-600 px-5 py-2 rounded shadow-inner tracking-wider">Enabled</a>
        <a href="#" class="border border-purple-700 uppercase text-white bg-purple-600 px-5 py-2 rounded shadow-md hover:shadow-lg hover:bg-purple-700 transition duration-200 ease-in-out tracking-wider">Hover</a>
        <a href="#" class="border border-purple-700 uppercase text-white bg-purple-600 px-5 py-2 rounded tracking-wider opacity-50 cursor-not-allowed">Disabled</a>
        <a href="#" class="border border-purple-700 uppercase text-white bg-purple-600 px-5 py-2 rounded shadow-md focus:bg-purple-700 focus:shadow-outline transition duration-200 ease-in-out tracking-wider">Focused</a>
        <a href="#" class="border border-purple-600 uppercase text-purple-600 px-5 py-2 rounded shadow-inner tracking-wider">Enabled</a>
        <a href="#" class="border border-purple-600 uppercase text-purple-600 px-5 py-2 rounded shadow-md hover:shadow-lg hover:bg-purple-600 hover:opacity-50 hover:text-white transition duration-200 ease-in-out tracking-wider">Hover</a>
        <a href="#" class="border border-purple-600 uppercase text-purple-600 px-5 py-2 rounded tracking-wider opacity-50 cursor-not-allowed">Disabled</a>
        <a href="#" class="border border-purple-600 uppercase text-purple-600 px-5 py-2 rounded shadow-md focus:bg-purple-700 focus:opacity-50 focus:text-white focus:shadow-outline transition duration-200 ease-in-out tracking-wider">Focused</a>
    </div>
</div>